/* Text meant only for screen readers. */

@mixin sr-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:hover,
	&:active,
	&:focus {
		background-color: $color__background-screen;
		@include border-radius;
		@include box-shadow;
		clip: auto !important;
		color: $color__text-screen;
		display: block;
		font-weight: bold;
		height: auto;
		left: rhythm(.25);
		line-height: normal;
		padding: rhythm(.5) rhythm();
		text-decoration: none;
		top: rhythm(.25);
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}	
}

%sr-text {
	@include sr-text;
}

.screen-reader-text {
	@extend %sr-text;
}