p {
	margin: rhythm() 0;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}

	&.review {
		margin: rhythm() 0;
	}
}

blockquote {
	margin: rhythm();
}

address {
	margin: 0 0 rhythm();

	&.contact-details {

		ul {
			padding: 0;
			list-style-type: none;
		}

		a {
			&.phone {
				&:before {
					@include fontawesome-fixed-width();
					content:"\f095";
				}
			}
			&.mobile {
				&:before {
					@include fontawesome-fixed-width();
					content:"\f10b";
				}
			}
			&.fax {
				&:before {
					@include fontawesome-fixed-width();
					content:"\f1ac";
				}
			}
			&.email {
				@extend %word-wrap;
				&:before {
					//font-family: sans-serif;
					//content:"@";
					//font-weight: bold;
					@include fontawesome-fixed-width();
					content:"\f0e0";
				}
			}
			&.address {
				&:before {
					@include fontawesome-fixed-width();
					content:"\f041";
				}
			}
			&.facebook {
				&:before {
					@include fontawesome-fixed-width();
					content:"\f09a";
				}
			}
			&.googleplus {
				&:before {
					@include fontawesome-fixed-width();
					content:"\f0d5";
				}
			}
			&.twitter {
				&:before {
					@include fontawesome-fixed-width();
					content:"\f099";
				}
			}
			&.instagram {
				&:before {
					@include fontawesome-fixed-width();
					content:"\f16d";
				}
			}
			&.pinterest {
				&:before {
					@include fontawesome-fixed-width();
					content:"\f231";
				}
			}
			&.youtube {
				&:before {
					@include fontawesome-fixed-width();
					content:"\f167";
				}
			}
			&.linkedin {
				&:before {
					@include fontawesome-fixed-width();
					content:"\f0e1";
				}
			}
		}
	}
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	line-height: $font__line-height-pre;
	margin-bottom: rhythm();
	max-width: 100%;
	overflow: auto;
	padding: rhythm();
}

code, kbd, tt, var {
	font-family: $font__code;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}