.gallery {
	margin-bottom: 1.5em;
	@include susy-clearfix;
}

.gallery-item {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 0 0 gutter() 0;

	img {
		display: inline-block;
		vertical-align: top;
	}

	.gallery-columns-2 & {
		@include gallery(12/2);
	}

	.gallery-columns-3 & {
		@include gallery(12/3);
	}

	.gallery-columns-4 & {
		@include gallery(12/4);
	}

	.gallery-columns-5 & {
		@include gallery(12/5);
	}

	.gallery-columns-6 & {
		@include gallery(12/6);
	}

	.gallery-columns-7 & {
		@include gallery(12/7);
	}

	.gallery-columns-8 & {
		@include gallery(12/8);
	}

	.gallery-columns-9 & {
		@include gallery(12/9);
	}
}

.gallery-caption {
	display: block;
}