.gallery {
	margin-bottom: 1.5em;
	@include susy-clearfix;
}

.gallery-item {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 0 0 gutter() 0;

	img {
		display: inline-block;
		vertical-align: top;
	}

	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			@include susy-breakpoint(max-width $breakpoint__medium) {
				@include gallery(12/$i);
			}
			@include susy-breakpoint($breakpoint__medium) {
				@include gallery(8/$i of 8);
			}
		}
	}
}

.gallery-caption {
	display: block;
}