.site-navigation {

	// Menu Toggle Button
	
	.menu-toggle {
		display: block;
		@include susy-breakpoint($breakpoint__medium) {
			display: none;
		}
	}

	// Toggled Menu

	&.toggled {
		ul {
			display: block;
		}
	}

	// Every Menu

	ul {
		display: none;
		list-style: none;
		@include susy-breakpoint($breakpoint__medium) {
			display: block;
			margin: 0;
			padding-left: 0;
		}

		// Root Menu

		&.menu {
			> li {
				@include susy-breakpoint($breakpoint__medium) {
					display: inline-block;
				}

				&:hover {
					> a {}
				}

				&.current_page_item,
				&.current-menu-item,
				&.current_page_ancestor {
					> a {}
				}

				> a {}
			}
		}

		// List Item

		li {
			@include susy-breakpoint($breakpoint__medium) {
				position: relative;
			}

			&:hover {
				> ul {
					@include susy-breakpoint($breakpoint__medium) {
						left: auto;
					}
				}

				> a {}
			}

			&.current_page_item,
			&.current-menu-item,
			&.current_page_ancestor {
				> a {}
			}

			a {
				@include susy-breakpoint($breakpoint__medium) {
					display: block;
					text-decoration: none;
				}
			}
		}

		// Sub Menu

		ul {
			@include susy-breakpoint($breakpoint__medium) {
				@include box-shadow(rgba(0, 0, 0, 0.2) 0 3px 3px);
				float: left;
				position: absolute;
				top: 1.5em;
				left: -999em;
				z-index: 99999;
			}

			// Sub Sub Menu

			ul {
				@include susy-breakpoint($breakpoint__medium) {
					left: -999em;
					top: 0;
				}
			}

			// Sub Menu List Item

			li {
				&:hover {
					> ul {
						@include susy-breakpoint($breakpoint__medium) {
							left: 100%;
						}
					}
				}

				a {
					@include susy-breakpoint($breakpoint__medium) {
						width: 200px;
					}
				}
			}

			:hover {
				> a {}
			}
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}