.site-navigation {

	&.toggled {
		ul {
			display: block;
		}
	}
	
	.menu-toggle {
		display: block;
		@include susy-breakpoint($breakpoint__medium) {
			display: none;
		}
	}

	ul {
		display: none;
		list-style: none;
		@include susy-breakpoint($breakpoint__medium) {
			display: block;
			margin: 0;
			padding-left: 0;
		}

		ul {
			@include susy-breakpoint($breakpoint__medium) {
				@include box-shadow(rgba(0, 0, 0, 0.2) 0 3px 3px);
				float: left;
				position: absolute;
				top: 1.5em;
				left: -999em;
				z-index: 99999;
			}

			ul {
				@include susy-breakpoint($breakpoint__medium) {
					left: -999em;
					top: 0;
				}
			}

			li {
				@include susy-breakpoint($breakpoint__medium) {
					&:hover > ul {
						left: 100%;
					}
				}
			}

			a {
				@include susy-breakpoint($breakpoint__medium) {
					width: 200px;
				}
			}

			:hover > a {
			}

			a:hover {
			}
		}

		li:hover > ul {
			@include susy-breakpoint($breakpoint__medium) {
				left: auto;
			}
		}
	}

	li {
		@include susy-breakpoint($breakpoint__medium) {
			display: inline-block;
			position: relative;
		}

		&:hover > a {
		}
	}

	a {
		@include susy-breakpoint($breakpoint__medium) {
			display: block;
			text-decoration: none;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	& .nav-previous {
		float: left;
		width: 50%;
	}

	& .nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}