.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
	.entry-title {
		.attachment.single & {
			@extend %sr-text;
		}
	}
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;

	img {
		.attachment.single & {
			display: block;
			margin: auto;
		}
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}