/*--------------------------------------------------------------
Center block
Centers element horizontally
--------------------------------------------------------------*/
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
Span Per Row
Spans columns accordiong to total columns per row
--------------------------------------------------------------*/
@mixin span-per-row($columns_per_row, $columns_total: susy-get(columns), $last: false) {

	$span: $columns_total / $columns_per_row;

	@include span($span);

	@if $last {

		@include last;

	} @else {

		&:nth-of-type(#{$columns_per_row}n) { @include last; }

	}
}

/*--------------------------------------------------------------
Padding Center
Centers element content with padding
--------------------------------------------------------------*/
@mixin padding-center {
	width: 100%;
	padding: 0 calc(50% - (#{susy-get(container)} / 2));	
}

/*--------------------------------------------------------------
Grid Background
Generates pseudo element with gradient background
--------------------------------------------------------------*/
@mixin column-grid-background {
	&:before {  
		content: "";
		position: fixed;
		z-index: -1;
		left: 0;
		right: 0;
		width: 96%;
		height: 100%;
		@include container(show-columns);
	}
}

/*--------------------------------------------------------------
FontAwesome
FontAwesome fixed width
--------------------------------------------------------------*/

@mixin fontawesome-fixed-width($size: 1em, $margin: 0) {
  display: inline-block;
  width: rhythm();
  margin: $margin;
  font: normal normal normal $size/1 $font__icon;
  text-align: center;
}

/*--------------------------------------------------------------
Triangles
Generates CSS triangles in 8 directions
--------------------------------------------------------------*/
@import "triangles"