/*--------------------------------------------------------------
3.1 General Elements
--------------------------------------------------------------*/

// Set html { font-size: 100%; line-height: 1.5em; }
@include establish-baseline;

html {
	box-sizing: border-box;
	// Remove margin added by lightbox when enabled
	margin-right: 0 !important;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	// background: $color__background-body; /* Fallback for when there is no custom background color defined. */
	@include baseline-grid-background();
	@include column-grid-background();
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: rhythm();
}

/*--------------------------------------------------------------
3.2 Lists
--------------------------------------------------------------*/
@import "lists";

/*--------------------------------------------------------------
3.3 Tables
--------------------------------------------------------------*/
@import "tables";

/*--------------------------------------------------------------
3.4 Tabs
--------------------------------------------------------------*/
@import "tabs";