ul, ol {
	list-style-position: inside;
	margin: 0 0 rhythm() 0;
}

ul {
}

ol {
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: rhythm();
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 rhythm() 0;
}