.site-content {
	body:not(.home) & {
		@include container;
		width: 96%;
	}

	.content-area {
		&:not(:only-child) {
			@include susy-breakpoint($breakpoint__medium) {
				@include span(8);			
			}
		}
	}

	.widget-area {
		display: none;

		@include susy-breakpoint($breakpoint__medium) {
			display: block;
			@include span(4 last);	
		}

		.sidebar-title {
			@include susy-breakpoint($breakpoint__medium) {
				@include sr-text;
			}
		}
	}
}