.site-header {
	.site-branding {

		> div {
			@include center-content-bleed-background;
		}

		.site-logo {
			img {
				display: inline-block;
				vertical-align: bottom;
			}
		}

		.site-title {
			@extend %sr-text;
		}

		.site-description {
			margin: 0;
		}

		.site-contact {

		}
	}

	.site-navigation {

		> div {
			@include container;
		}
	}
}

.site-content {
	@include container;

	.content-area {
		@include susy-breakpoint($breakpoint__medium) {
			@include span(8);			
		}
	}

	.site-main {
	}

	.widget-area {
		@include susy-breakpoint($breakpoint__medium) {
			@include span(last 4);		
		}

		.sidebar-title {
			@extend %sr-text;
		}
	}

}

.home {
	.site-content {
		max-width: none;
		margin: 0;	

		.content-area {
			@include susy-breakpoint($breakpoint__medium) {
				float: none;
				width: 100%;
				margin: 0;	
			}
		}

		section {
			@include container;

			&#featured {
				.carousel {
					@include carousel-background;
				}
			}	

			&#associations {
				.carousel {
					@include carousel-multiple;
				}
			}		
		}

		.site-main {
		}

		.widget-area {
			display: none;
		}	
	}
}

.site-footer {

	> section {
		&:first-child {
			@include container;
		}

		.footer-title {
			@extend %sr-text;
		}
	}

	.site-sitemap, .site-sitemap-featured {
		@include susy-breakpoint($breakpoint__medium) {
			@include span(4);			
		}
	}

	.site-contact {
		@include susy-breakpoint($breakpoint__medium) {
			@include span(last 4);			
		}
	}

	#copyright {

		> div {
			@include container;
		}

	}
}