.home {
	
	.site-content {
		width: auto;
		max-width: none;
		margin: 0;	

		.content-area {
			@include susy-breakpoint($breakpoint__medium) {
				float: none;
				width: 100%;
				margin: 0;	
			}
		}

		.site-main {

			#featured {
				h2 {
					@extend %sr-text;
				}
				.carousel {
					@include carousel-background;
					@include susy-breakpoint(max-width $breakpoint__medium) {
						@include bleed-x(2%);
					}
				}
			}

			#front-page {}

			#associations {
				.carousel {
					@include carousel-multiple;
				}
			}

			#reviews {}

			#galleries {}

			#reviews {
				@include susy-breakpoint($breakpoint__medium) {
					@include span(6);
				}
			}

			#galleries {
				@include susy-breakpoint($breakpoint__medium) {
					@include span(6 last);
				}
			}
		}

		.widget-area {
			display: none;
		}	
	}
}