.section {

	> div {
		@include container;
		width: 96%;
	}
}

.section-group {

	> div {
		@include susy-breakpoint($breakpoint__medium) {
			@include container;
			width: 96%;
		}

		.section {

			> div {
				@include susy-breakpoint($breakpoint__medium) {
					max-width: none;
					width: auto;
				}
			}
		}
	}
}