%button {
	padding: rhythm(.5);
	border: 0;
	@include border-radius;
	background: $color__background-button;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@extend %button;

	&:hover {
	}

	&:active,
	&:focus {
	}
}