input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
textarea {
	max-width: 100%;
	border: 1px solid $color__border-input;
	@include border-radius;
	@include adjust-font-size-to(16px);
	color: $color__text-input;

	&:focus {
		color: $color__text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
textarea {
	padding: rhythm($lines: .5, $offset: 1px);
}

textarea {
	display: block;
	width: 100%;
}